{% extends 'base_public_layout.html' %}
{% load track_extra %}
{% block title %}Usuario{% endblock %}
{% block content_header %}
    <h1 class="page-header">Usuario
        <small>BuscoAyuda</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-user"></i> Usuario</li>
    </ol>
{% endblock %}
{% block content %}
    <!-- Projects Row -->
    <div class="row">
        <form role="form" action="" enctype="multipart/form-data" method="post" id="form">
            <div class="col-sm-7 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Usuario</h3>
                    </div>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ user_form.non_field_errors }}
                    <div class="box-body">
                        <div class="form-group">
                            {{ user_form.username.errors }}
                            <label for="{{ user_form.username.id_for_label }}">Usuario del Independiente:</label>
                            {{ user_form.username }}
                        </div>
                        <div class="form-group">
                            {{ user_form.first_name.errors }}
                            <label for="{{ user_form.first_name.id_for_label }}">Nombres del Independiente:</label>
                            {{ user_form.first_name }}
                        </div>
                        <div class="form-group">
                            {{ user_form.last_name.errors }}
                            <label for="{{ user_form.last_name.id_for_label }}">Apellidos del Independiente:</label>
                            {{ user_form.last_name }}
                        </div>
                        <div class="form-group">
                            {{ user_form.email.errors }}
                            <label for="{{ user_form.email.id_for_label }}">Email del Independiente:</label>
                            {{ user_form.email }}
                        </div>
                        <div class="form-group">
                            {{ form.experiencia.errors }}
                            <label for="{{ form.experiencia.id_for_label }}">Experiencia del Independiente:</label>
                            {{ form.experiencia }}
                        </div>
                        <div class="form-group">
                            {{ form.telefono.errors }}
                            <label for="{{ form.telefono.id_for_label }}">Teléfono del Independiente:</label>
                            {{ form.telefono }}
                        </div>
                        <div class="form-group">
                            {{ form.foto.errors }}
                            <label for="{{ form.foto.id_for_label }}">Foto del Independiente:</label>
                            {{ form.foto }}
                        </div>
                        <div class="form-group">
                            {{ form.servicio.errors }}
                            <label for="{{ form.servicio.id_for_label }}">Servicio del Independiente:</label>
                            {{ form.servicio }}
                        </div>
                        <div style="clear: both"></div>
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-4">
                                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form role="form" action="{% url 'password_change' %}" method="post" id="form2">
            <div class="col-sm-5 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Cambiar Contraseña</h3>
                    </div>
                    {% csrf_token %}
                    <div class="box-body">
                        {{ password_form.as_p }}
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-4">
                                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.row -->
{% endblock %}